body{
    background: #141414;
    color: aliceblue;
}

p{
    text-align: center;
}

em strong{
    color: #FF0000;
}
h1{
    text-align: center;
}

#banner{
    width: 100%;
    text-align: center;
}
