body{
    background-color: rgb(23, 23, 23);
    color: aliceblue;
}

header{
    background: fixed #2a2a2a;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    background-color: #474747;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}