body{
    background: #141414;
    color: aliceblue;
}

.principal{
    padding: 30px;
    background: #141414;
}

p{
    text-align: center;
}
#missão{
    font-size: 20px;
}

em strong{
    color: #FF0000;
}
h1{
    text-align: center;
}

#banner{
    width: 100%;
}

.itens{
 font-style: italic;
 font-size: 30px;   
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

h2{
    text-align: center;
}


